@{
    ViewBag.Title = "Confirmação de Envio de Tabela de Preços";
}
<div class="header-title"><h3>@ViewBag.Title</h3></div>
<hr />

@if (ViewBag.SemEmail != "")
{
    <div id="ErrorMSG"> @ViewBag.SemEmail</div>
}
else
{
    <div id="SucessoMSG">Em instantes você receberá um cópia da tabela em seu e-mail.</div>   
}
