packages
bin
obj
Dalutex\bin
Dalutex\obj
Desenhos
*.suo
*.tmp
*.user
Dalutex.v12.suo
Dalutex/img_public/0000_00.JPG
Dalutex/img_public/7070_DJ.JPG
Dalutex/img_public/9510_CB.JPG
Dalutex/img_public/A131_CA.JPG
Dalutex/img_public/A178_CA.JPG
Dalutex/img_public/A226_01.JPG
Dalutex/img_public/B035_CA.JPG
Dalutex/img_public/B035_CB.JPG
Dalutex/img_public/B078_01.JPG
Dalutex/img_public/B078_02G.JPG
Dalutex/img_public/B201_01.JPG
Dalutex/img_public/B201_02.JPG
Dalutex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dalutex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dalutex/Web.config
Dalutex.v12.suo
Dalutex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
Dalutex.v12.suo
*.cache
Dalutex.v12.suo
*.cache
*.suo
*.suo
web.config