<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="TIDalutexContext" connectionString="DATA SOURCE=XE;PERSIST SECURITY INFO=True;USER ID=TI_DALUTEX;PASSWORD=TI_DALUTEX"  providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DalutexContext" connectionString="DATA SOURCE=XE;PASSWORD=DALUTEX;USER ID=DALUTEX" providerName="Oracle.ManagedDataAccess.Client" />

    <!--<add name="TIDalutexContext" connectionString="DATA SOURCE=DBDALUTEX;PERSIST SECURITY INFO=True;USER ID=TI_DALUTEX;PASSWORD=TI_DALUTEX" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DalutexContext" connectionString="DATA SOURCE=DBDALUTEX;PASSWORD=DALUTEX;USER ID=DALUTEX" providerName="Oracle.ManagedDataAccess.Client" />-->

    <!--<add name="TIDalutexContext" connectionString="DATA SOURCE=DBTST;PERSIST SECURITY INFO=True;USER ID=TI_DALUTEX;PASSWORD=ti_dalutex" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DalutexContext" connectionString="DATA SOURCE=DBTST;PASSWORD=DALUTEX;USER ID=dalutex" providerName="Oracle.ManagedDataAccess.Client" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="PASTA_DESENHOS" value="~\img_public\" />
    <add key="PASTA_RESERVAS" value="~\img_reserva\" />
    
    <!--<add key="PASTA_DESENHOS" value="\\192.168.100.3\img_pic$\" />
    <add key="PASTA_RESERVAS" value="\\192.168.100.3\sid$\system\img_pgto\" />-->
    
    <add key="VALOR_PARCELA_MINIMA" value="500" />
    <add key="EMAIL_USUARIO" value="suporte.ti@dalutex.com.br"/>
    <add key="EMAIL_SENHA" value="19ar0l"/>
    <add key="EMAIL_SERVIDOR" value="smtp.terra.com.br"/>
    <add key="EMAIL_PORTA" value="587"/>
    <add key="CAMINHO_ESPELHO_PEDIDO" value="~/Controllers/Relatorios/PrePedido.rdlc"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Home/Index" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))) " />

        <!--<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DTEX.DALUTEX.COM.BR))) " />-->

        <!--<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.100.26)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DBTST))) " />-->

      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>