@using System.Web.Security;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="cursor:default">Olá&nbsp;@User.Identity.Name!</a></li>           

            <li><a href="~/Pedido/Carrinho"><span class="glyphicon glyphicon-shopping-cart">
                </span>&nbsp;CARRINHO</a></li>
            @*<span class="badge"></span>*@
            
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;LOG OFF</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-user"></span>&nbsp;ACESSAR</a>
        </li>
    </ul>
}
@Scripts.Render("~/bundles/jquery")
<script>
        $(document).ready(function () {

            //Init
            (function Init() {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("TotalCarrinho", "Pedido")',
                    data: '',
                    async: false,
                    success: function (result) {
                        $(".badge").html(result);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Erro ao obter total do carrinho");
                    }
                });
            })();
        });
</script>