@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>
<h5 class="text-danger">An error occurred while processing your request.</h5>

