
@{
    ViewBag.Title = "Ampliacao";
}

<div>    
    <div class="panel panel-default">        
        <div class="panel-footer"><h2>Detalhe do Desenho: @Url.Content(@ViewBag.desenho)</h2></div>
    </div>
</div>

<div class="container">
    <img src="@Url.Content(ViewBag.ImgURL)" />
</div>





