
@{
    ViewBag.Title = "Ampliacao";
}

<div>
    <h2>Detalhe do Desenho: @Url.Content(@ViewBag.desenho)</h2>
</div>

<div class="container">
    <img src="@Url.Content(ViewBag.ImgURL)" />
</div>





