@model Dalutex.Models.ArtigosDisponiveisViewModel

@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Artigos disponíveis";
}

@if (Model.Desenho == null)
{
    <h3>Desenho não informado</h3>
}
else
{ 
    <div>
        <div class="panel panel-default">
            <h2>Detalhe do desenho: @Url.Content(Model.Desenho)</h2>
            <img src="@Url.Content(Model.Imagem)" style="max-width:75px; max-height:75px;"/>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.Artigos != null)
                {
                    <div class="list-group">
                        <a href="#" class="list-group-item active">ARTIGOS E TECNOLOGIAS DISPONIVEIS</a>
                        @foreach (VW_ARTIGOS_DISPONIVEIS item in Model.Artigos)
                        {
                            <a href="@Url.Content("~/Pedido/InserirNoCarrinho?"+
                                                        "&desenho=" + Model.Desenho +
                                                        "&variante=" + Model.Variante +
                                                        "&artigo=" + item.ARTIGO +
                                                        "&tecnologia=" + item.TECNOLOGIA)"
                                        class="list-group-item"><strong>@item.ARTIGO</strong>&nbsp;-&nbsp;@item.TECNOLOGIA</a>
                        }
                    </div>
                }
                else
                {
                    <h3>Não foi possivel carregar artigos disponiveis</h3>
                }
            </div>
        </div>
    </div>
}