@using Dalutex.Models;

@{
    ViewBag.Title = "MEU CARRINHO";
}

<div class="panel panel-default">
    <h3 class="viewTitle">@ViewBag.Title</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
            { 
                foreach (InserirNoCarrinhoViewModel item in ViewBag.Carrinho.Itens)
                {
                    ViewDataDictionary partialViewData = new ViewDataDictionary();
                    partialViewData.Add(new KeyValuePair<string, object>("URLDESENHOS", ViewBag.UrlImagens));
                    partialViewData.Add(new KeyValuePair<string, object>("URLRESERVAS", ViewBag.UrlReervas));

                    @Html.Partial(
                        "_ItemCarrinho",
                        item,
                        partialViewData
                    )
                    <hr />
                }
            }
            else
            {
                <p><em>CARRINHO VAZIO</em></p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.ActionLink("HOME", "Index", "Home", null, new {@class="btn btn-default right" })
        </div>
        <div class="col-xs-6">
            @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
            {
                @Html.ActionLink("CONCLUIR", "Representantes", "Cadastro", null, new { @class = "btn btn-default" })
            }
        </div>
    </div>
</div>


