
@{
    ViewBag.Title = "CONFIRMAÇÃO DE PEDIDO";
}
<div class="panel panel-default">
    <h3>@ViewBag.Title</h3>
</div>

<hr/>
<h5>SEU PEDIDO FOI CONCLUIDO COM SUCESSO!</h5> 
<h5>UMA CÓPIA DO PEDIDO FOI ENCAMINHADA EM SEU E-MAIL!</h5>
<hr />
<h2><strong>PEDIDO NÚMERO: @ViewBag.NumeroPedido </strong></h2>
<hr />
<br />


@Html.ActionLink("VOLTAR AO INÍCIO", "Index", "Home", null, new { @class = "btn btn-default right" })
@Html.ActionLink("IMPRIMIR PEDIDO", "EspelhoPedido", "Pedido", null, new { @class = "btn btn-default right" })



