@model Dalutex.Models.PedidoViewModel

@using Dalutex.Models;
@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Desenhos da coleção";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        @foreach (VW_COLECAO_ATUAL item in Model.Galeria)
        {
            <div class="col-sm-4 col-md-2">
                @Html.Partial(
                    "_Thumb",
                    new Dalutex.Models.ThumbViewModel()
                    {
                        Desenho = item.DESENHO,
                        Variante = item.VARIANTE,
                        Reduzido = item.CODIGO_REDUZIDO,
                        UrlImagens = Model.UrlImagens
                    }
                )
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/equalheight")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods
                loadImages = function () {
                    $(".img-thumbnail").each(function () {
                        var $img = $(this);
                        var data = $img.data("assigned-id").split("_");
                        var desenho = data[0];
                        var variante = data[1];

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ObterDesenho", "Pedido")',
                            data: 'desenho=' + desenho + '&variante=' + variante,
                            async: false,
                            success: function (Image) {
                                if (Image != '') {
                                    $img.attr('src', 'data:image/jpg;base64,' + Image.Image);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $img.attr('src', 'data:image/jpg;base64,');
                            }
                        })
                    });
                    $('.equal-height').equalHeight();
                }

                // public API
                return {
                    loadImages: loadImages
                };
            })();

            //Init
            (function Init() {
                //scriptWrapper.loadImages();
            })();
        });
    </script>
}
