
@{
    ViewBag.Title = "Página em construção";
}
<div class="header-title"><h3>@ViewBag.Title</h3></div>
<h3>Em breve teremos novidades aqui</h3>
<img src="~/Content/images/UnderConstruction.png" />

