@{
    ViewBag.Title = "Esvaziar carrinho";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>
<div class="container-fluid">
    <p>Deseja realmente remover todos os itens do carrinho?</p>
    @using (Html.BeginForm("EsvaziarCarrinho", "Pedido", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button class="btn btn-info pull-left" onclick="javascript:history.back()"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;NÃO! Tire-me daqui</button>
        <button type="submit" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp;REMOVER</button>
    }
</div>
