@model Dalutex.Models.PedidoViewModel

@using Dalutex.Models;
@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Pedido";
}

<h2>Desenhos</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            Categorias
        </div>
        <div class="col-sm-12">
            Categorias
        </div>
        <div class="col-sm-12">
            Categorias
        </div>
        <div class="col-sm-12">
            Categorias
        </div>
        <div class="col-sm-12">
            Categorias
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Sub-categoria1
        </div>
        <div class="col-sm-4">
            Sub-categoria2
        </div>
        <div class="col-sm-4">
            Sub-categoria3
        </div>
    </div>
    <div class="row">
    @foreach (ItensEstoque item in Model.Galeria)
{
    <div class="col-sm-4 col-md-2 base-tile" style="max-width: 150px; max-height: 150px">
        <div class="thumbnail">
            <a href="@Url.Content(@"Ampliacao?&imagem=" + Model.UrlImagens + item.Codigo.Substring(16, 4) + "_" + item.Codigo.Substring(20, 2) + ".jpg")">
                <img src="@Url.Content(Model.UrlImagens + item.Codigo.Substring(16, 4) + "_" + item.Codigo.Substring(20, 2) + ".jpg")" class="img-responsive" />
            </a>
        </div>
        <div class="caption">
            <h3>@item.Codigo.Substring(16, 4)&nbsp;@item.Codigo.Substring(20, 2)</h3>
            <small>@item.Codigo_Reduzido</small>
        </div>
    </div>
}
    </div>
</div>