@model Dalutex.Models.ArtigosDisponiveisViewModel

@{
    ViewBag.Title = "MenuColecao";
}

<h2>Pedidos::..</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">COLEÇÃO</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">EXCLUSIVOS</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">PRONTA ENTREGA</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">RECOLORAÇÃO/ACERVO</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">OUTROS</button>
            </div>
        </div>
    </div>
    <div class="row">
        <ul>
            <li>@Html.ActionLink("Coleção Atual", "DesenhosPorColecao", "Pedido")</li>
            <li>@Html.ActionLink("Pocket", "Exclusivos", "Pedido")</li>
            <li>Outros</li>
        </ul>
    </div>
    </div>
