
@{
    ViewBag.Title = "Teste";
}





<h2>Teste</h2>
<table id="listaCarrinho">
    <thead>
        <tr>
            <th data-field="" data-checkbox="true"></th>
            <th data-field="Artigo" data-sortable="true">ARTIGO</th>
            <th data-field="Variante" data-sortable="true">VARIANTE</th>
            <th data-field="Desenho" data-sortable="true">DESENHO</th>
        </tr>
    </thead>
</table>

<a href="@Url.Action("Teste", "HomeController")" class="list-group-item">Teste</a>

@*
    @section Scripts {
        @Scripts.Render("~/bundles/bootstrap-table")
        <script>
            $(document).ready(function () {
                //API
                scriptWrapper = (function () {

                    //API Attributes

                    //API Methods
                    lstCanais_Change = function () {
                        //if ($("#lstCanaisVenda > option:selected").attr("value") == 4) {
                        //    $('#elemGerentes').show();
                        //}
                        //else {
                        //    $('#elemGerentes').hide();
                        //}
                    }

                    // public API
                    return {
                        lstCanais_Change: lstCanais_Change
                    };
                })();

                //Init
                (function Init() {

                    $('#listaCarrinho').bootstrapTable({
                        url: 'ObterItensCarrinho',
                        method:'GET'
                    });
                })();
            });
        </script>
    }*@
