@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Com mais de 30 anos no mercado e constante investimento em pesquisa, inovação, tecnologia, capacitação e aperfeiçoamento de sua produção, a Dalutex está entre as mais importantes indústrias têxteis do país.</p>
<p>Reconhecida por suas criações em malharia, tinturaria e estamparia, a Dalutex está preparada para unir qualidade, criatividade e exclusividade com a rapidez que o mercado de moda exige.</p>
<p>Conta com um parque industrial capaz de absorver todo o processo de produção, desde a confecção de malha diferenciada até sua coloração e estampa, garantindo eficiência em todo o processo e flexibilidade na customização.</p>
<p>Alicerçada em uma política de governança corporativa e com diretrizes focadas em transparência, gestão de processos e pessoas, qualidade, investimentos em tecnologia, treinamentos e sustentabilidade, a Dalutex está marcando sua história no mercado têxtil e criando tendências na moda brasileira e latino-americana.</p>