@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <h1>A Dalutex</h1>
    <p>Com mais de 30 anos no mercado e constante investimento em pesquisa, inovação, tecnologia, capacitação e aperfeiçoamento de sua produção, a Dalutex está entre as mais importantes indústrias têxteis do país.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="hand">Cores e Texturas</h2>
        <p>Na Dalutex, a equipe de criação e desenvolvimento trabalha em conjunto com a engenharia de produto e processos para o nascimento de tramas e texturas inovadoras, bem como de estampas e cartelas de cor que serão tendência para a próxima coleção.</p>
        <p><a class="btn btn-default" href="http://www.dalutex.com.br/site/produtos/">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="hand">Exclusividade</h2>
        <p>Para ser formadora de opinião na área em que atua, a Dalutex faz muito mais do que buscar fora informações sobre moda. Sua equipe de criação e desenvolvimento integra pesquisa com estudo minucioso para fazer adaptações compatíveis ao comportamento do brasileiro, criando tendências e conceitos que influenciam o mercado fashion.</p>
        <p><a class="btn btn-default" href="http://www.dalutex.com.br/site/desenvolvimento-criativo/">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="hand">Lançamento Inverno 2014</h2>
        
        <p>Nos dias 10, 11 e 12/07 a Dalutex lançou o Inverno 2014, com muitas novidades.</p>
        <p>Os principais temas de estamparia para o inverno 2014, são Romantic Fleur ( A flor escolhida nesta temporada é a rosa, colorida, ou mesmo com fundo escuro, é muito bem utilizada para transição ….)
        Animália (As peles são sempre populares nesta estação. Onça, zebra e cobra, aparecem em todos os tamanhos e cores);</p>
        <p><a class="btn btn-default" href="http://www.dalutex.com.br/site/books-e-colecoes/inverno-2014/">veja mais &raquo;</a></p>
    </div>
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:40px;" allowtransparency="true"></iframe>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods

                // public API
                return {
                };
            })();

            //Init
            (function Init() {
                $('.jumbotron').css("background-image", "url(" + getRandomImageUrl() + ")")
            })();
        });
    </script>
}
