<html>
<body lang=PT-BR style=''>

<div class=WordSection1>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width=1045
 style='width:783.95pt;border-collapse:collapse;border:none;'>
 <tr style='height:19.95pt'>
  <td width=1045 colspan=24 valign=top style='width:783.95pt;background:#BFBFBF;
  padding:0cm 5.4pt 0cm 5.4pt;height:19.95pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b style=''><span
  style='font-size:16.0pt;color:white;'>Pré pedido</span><o:p></o:p></b></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=414 colspan=10 valign=top style='width:310.85pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Pedido:</b>@NumPedido</p>
  </td>
  <td width=209 colspan=4 valign=top style='width:156.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Tipo:</b>@Tipo</p>
  </td>
  <td width=263 colspan=7 valign=top style='width:196.95pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Digitado:</b>@MMDigitacao</p>
  </td>
  <td width=160 colspan=3 valign=top style='width:119.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Status:</b>@Status</p>
  </td>
 </tr>
 <tr style='height:13.05pt'>
  <td width=162 colspan=4 valign=top style='width:121.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Cliente:</b>@CodCliente</p>
  </td>
  <td width=252 colspan=6 valign=top style='width:189.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'>@NmCliente</p>
  </td>
  <td width=209 colspan=4 valign=top style='width:156.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>CNPJ:</b>@CNPJCliente</p>
  </td>
  <td width=263 colspan=7 valign=top style='width:196.95pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Condição:</b>@Condicao</p>
  </td>
  <td width=160 colspan=3 valign=top style='width:119.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Qual. Com.:</b>@QC</p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=162 colspan=4 valign=top style='width:121.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Entrega:</b>@CodEntrega</p>
  </td>
  <td width=252 colspan=6 valign=top style='width:189.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'>@NmEntrega</p>
  </td>
  <td width=209 colspan=4 valign=top style='width:156.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>CNPJ:</b>@CNPJEntrega</p>
  </td>
  <td width=263 colspan=7 valign=top style='width:196.95pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>C. Vendas:</b>@Cvendas</p>
  </td>
  <td width=160 colspan=3 valign=top style='width:119.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Gerente:</b>@Gerente</p>
  </td>
 </tr>
 <tr style=''>
  <td width=162 colspan=4 valign=top style='width:121.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Trasp.:</b>@CodTransp</p>
  </td>
  <td width=252 colspan=6 valign=top style='width:189.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'>@NmTransp</p>
  </td>
  <td width=209 colspan=4 valign=top style='width:156.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Frete:</b>@Frete</p>
  </td>
  <td width=422 colspan=10 valign=top style='width:316.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Transporte:</b>@Transporte</p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=414 colspan=10 valign=top style='width:310.85pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Atendimento:</b>@Atendimento</p>
  </td>
  <td width=174 colspan=2 valign=top style='width:130.8pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Representante:</b>@CodRep</p>
  </td>
  <td width=456 colspan=12 valign=top style='width:342.3pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'>@NmRep</p>
  </td>
 </tr>
 <tr style='height:13.05pt'>
  <td width=1045 colspan=24 valign=top style='width:783.95pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Observações:</b>@Observacoes</p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=42 valign=top style='width:31.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Item<o:p></o:p></b></p>
  </td>
  <td width=70 valign=top style='width:52.3pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Reduzido<o:p></o:p></b></p>
  </td>
  <td width=41 valign=top style='width:30.8pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Proc<o:p></o:p></b></p>
  </td>
  <td width=40 colspan=2 valign=top style='width:30.3pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Tipo<o:p></o:p></b></p>
  </td>
  <td width=52 valign=top style='width:39.35pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Artigo<o:p></o:p></b></p>
  </td>
  <td width=51 valign=top style='width:38.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Cor<o:p></o:p></b></p>
  </td>
  <td width=67 valign=top style='width:50.2pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Desenho<o:p></o:p></b></p>
  </td>
  <td width=48 valign=top style='width:35.85pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Var<o:p></o:p></b></p>
  </td>
  <td width=155 colspan=2 valign=top style='width:116.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Coleção<o:p></o:p></b></p>
  </td>
  <td width=40 colspan=2 valign=top style='width:30.2pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>UM<o:p></o:p></b></p>
  </td>
  <td width=38 colspan=2 valign=top style='width:28.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>PE<o:p></o:p></b></p>
  </td>
  <td width=44 valign=top style='width:33.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Qtde<o:p></o:p></b></p>
  </td>
  <td width=62 valign=top style='width:46.25pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>P. Unit<o:p></o:p></b></p>
  </td>
  <td width=75 colspan=3 valign=top style='width:56.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Total<o:p></o:p></b></p>
  </td>
  <td width=80 colspan=2 valign=top style='width:60.05pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Previsão<o:p></o:p></b></p>
  </td>
  <td width=70 valign=top style='width:52.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Composé<o:p></o:p></b></p>
  </td>
  <td width=69 valign=top style='width:52.05pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''>Imagem<o:p></o:p></b></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=42 valign=top style='width:31.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=70 valign=top style='width:52.3pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=41 valign=top style='width:30.8pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=40 colspan=2 valign=top style='width:30.3pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=52 valign=top style='width:39.35pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=51 valign=top style='width:38.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=67 valign=top style='width:50.2pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=48 valign=top style='width:35.85pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=155 colspan=2 valign=top style='width:116.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=40 colspan=2 valign=top style='width:30.2pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=38 colspan=2 valign=top style='width:28.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=44 valign=top style='width:33.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=62 valign=top style='width:46.25pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=75 colspan=3 valign=top style='width:56.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=80 colspan=2 valign=top style='width:60.05pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=70 valign=top style='width:52.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=69 valign=top style='width:52.05pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=607 colspan=13 valign=top style='width:455.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=38 colspan=2 valign=top style='width:28.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''><span style='color:#44546A;'>KG<o:p></o:p></span></b></p>
  </td>
  <td width=106 colspan=2 valign=top style='width:79.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''><span style='color:#44546A;'>@KG<o:p></o:p></span></b></p>
  </td>
  <td width=294 colspan=7 valign=top style='width:220.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:right;line-height:normal'><b style=''><span
  style='color:#44546A;'>@TotalGeral<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=607 colspan=13 valign=top style='width:455.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=38 colspan=2 valign=top style='width:28.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''><span style='color:#44546A;'>MT<o:p></o:p></span></b></p>
  </td>
  <td width=106 colspan=2 valign=top style='width:79.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''><span style='color:#44546A;'>@MT<o:p></o:p></span></b></p>
  </td>
  <td width=294 colspan=7 valign=top style='width:220.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b style=''><span style='color:#44546A;'><o:p>&nbsp;</o:p></span></b></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=607 colspan=13 valign=top style='width:455.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=203 colspan=5 valign=top style='width:152.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=15 valign=top style='width:11.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=220 colspan=5 valign=top style='width:165.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=607 colspan=13 valign=top style='width:455.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=203 colspan=5 valign=top style='width:152.15pt;border:none;
  border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=15 valign=top style='width:11.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=220 colspan=5 valign=top style='width:165.15pt;border:none;
  border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
 <tr style='height:13.75pt'>
  <td width=607 colspan=13 valign=top style='width:455.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=203 colspan=5 valign=top style='width:152.15pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>Cliente</p>
  </td>
  <td width=15 valign=top style='width:11.55pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><o:p>&nbsp;</o:p></p>
  </td>
  <td width=220 colspan=5 valign=top style='width:165.15pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt;
  height:13.75pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>Representante</p>
  </td>
 </tr>
 <![if !supportMisalignedColumns]>
 <tr height=0>
  <td width=43 style='border:none'></td>
  <td width=72 style='border:none'></td>
  <td width=41 style='border:none'></td>
  <td width=10 style='border:none'></td>
  <td width=32 style='border:none'></td>
  <td width=52 style='border:none'></td>
  <td width=49 style='border:none'></td>
  <td width=69 style='border:none'></td>
  <td width=46 style='border:none'></td>
  <td width=3 style='border:none'></td>
  <td width=152 style='border:none'></td>
  <td width=22 style='border:none'></td>
  <td width=18 style='border:none'></td>
  <td width=16 style='border:none'></td>
  <td width=22 style='border:none'></td>
  <td width=45 style='border:none'></td>
  <td width=62 style='border:none'></td>
  <td width=55 style='border:none'></td>
  <td width=15 style='border:none'></td>
  <td width=1 style='border:none'></td>
  <td width=60 style='border:none'></td>
  <td width=18 style='border:none'></td>
  <td width=72 style='border:none'></td>
  <td width=69 style='border:none'></td>
 </tr>
 <![endif]>
</table>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
